@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    color:#FFBA08;
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
}

html
{
    height:100%;
}
body
{
    font-size: 32px;
    background-color: #1E1E24;
    height:100%;
}

.logo_container
{
    display: flex;
    align-items: center;

    transition: 100ms ease;
}
.logo_container:hover
{
    -webkit-transform: scale(105%);
    -moz-transform: scale(105%);
    -o-transform: scale(105%);
    transform: scale(105%);
}

.logo
{
    width: 64px;
    height: 64px;
    
    margin-right: 16px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 16px 16px;

    background-image: linear-gradient(rgba(0, 0, 0, 255),rgba(0, 0, 0, 0));
    user-select: none;
}

.nav_links
{
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 16px;
    transition: 100ms ease;
}
.nav_links li:hover
{
    -webkit-transform: scale(105%);
    -moz-transform: scale(105%);
    -o-transform: scale(105%);
    transform: scale(105%);
}

.landing_page_image {
    display: flex;
    flex-direction: column;
    justify-content: center;

    border: 1px rgb(255, 196, 0) solid;
    width: 100%;
}

.landing_page_reviews
{
    display: flex;
    flex-direction: column;
}
.landing_page_review_item
{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    /* background-color: red; */
    margin-top: 64px;
    width: 100%;
}

.mySlides{
    border: 1px rgb(255, 196, 0) solid;
}
.landing_page_review_item p{
    text-align: center;
    background-color: blue; 
}

footer
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    color: #FFBA08;

    font-size: 16px;
}
